{% extends "base.html" %}
{% block content %}
    <table class="table">
      <thead>
        <tr>
            <th scope="col" style="white-space: nowrap;">食材</th>
            <th scope="col" style="white-space: nowrap;">人</th>
            <th scope="col" style="white-space: nowrap;">部屋</th>
            <th scope="col" style="white-space: nowrap;">賞味期限</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>卵</td>
          <td>Kota</td>
          <td>204</td>
          <td>2023/04/10</td>
        </tr>
        <tr>
          <td>牛乳</td>
          <td>Masato Yano</td>
          <td>204</td>
          <td>2023/04/10</td>
        </tr>
        <tr>
          <td>バター</td>
          <td>ようえ</td>
          <td>204</td>
          <td>2023/04/10</td>
        </tr>
      </tbody>
    </table>
{% endblock %}