{% extends "base.html" %}
{% block content %}
    <link href="/css/slideAction.css" rel="stylesheet"/>

    <table class="table" style=display:inline-table;">
        <thead>
        <tr>
            <th scope="col" style="white-space: nowrap;">食材</th>
            <th scope="col" style="white-space: nowrap;">人</th>
            <th scope="col" style="white-space: nowrap;">部屋</th>
            <th scope="col" style="white-space: nowrap;">賞味期限</th>
        </tr>
        </thead>
        <tbody>
        {% for item in item_list %}
            <tr>
                <td>{{ item.food }}</td>
                <td>{{ item.owner_name }}</td>
                <td>{{ item.owner_room }}</td>
                <td>2023/04/10</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}