<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Swipe to delete/check based on TinyGesture.JS</title>
  <link rel="stylesheet" href="/static/css/test.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Swipe</title>
  <meta charset="utf-8" />
  <meta name="description" content="Very small gesture recognizer for JavaScript. Swipe, pan, tap, doubletap, and longpress." />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <script type="module" src="/static/js/test.js"></script>
  <link href="/static/css/test.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
  <div class="wrapper">
    <h1>SWIPE PROTOTYPE</h1>
    <h2>Swipe items left or right to categorize them</h2>
    <ul>
      <li>
        <div class="swipe-container">
          <div class="reveal-left">
            <i class="fas fa-times"></i>
          </div>
          <div class="swipe-item">
            <button type="button">
              <i class="fas fa-times"></i>
            </button>
            <span>Swipe Item left or right</span>
            <button type="button">
              <i class="fas fa-check"></i>
            </button>
          </div>
          <div class="reveal-right">
            <i class="fas fa-check"></i>
          </div>
        </div>
      </li>
      <li class="swipe-container">
        <div class="swipe-container">
          <div class="reveal-left">
            <i class="fas fa-times"></i>
          </div>
          <div class="swipe-item">
            <button type="button">
              <i class="fas fa-times"></i>
            </button>
            <span>Swipe Item with a bit more text than should overflow to test if the styles work fine. It seems like it is. But we can test it with even more text.</span>
            <button type="button">
              <i class="fas fa-check"></i>
            </button>
          </div>
          <div class="reveal-right">
            <i class="fas fa-check"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="swipe-container">
          <div class="reveal-left">
            <i class="fas fa-times"></i>
          </div>
          <div class="swipe-item">
            <button type="button">
              <i class="fas fa-times"></i>
            </button>
            <span>Maybe the HTML-Markum can be reduced.</span>
            <button type="button">
              <i class="fas fa-check"></i>
            </button>
          </div>
          <div class="reveal-right">
            <i class="fas fa-check"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="swipe-container">
          <div class="reveal-left">
            <i class="fas fa-times"></i>
          </div>
          <div class="swipe-item">
            <button type="button">
              <i class="fas fa-times"></i>
            </button>
            <span>Doubletap to undo your choice</span>
            <button type="button">
              <i class="fas fa-check"></i>
            </button>
          </div>
          <div class="reveal-right">
            <i class="fas fa-check"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="swipe-container">
          <div class="reveal-left">
            <i class="fas fa-times"></i>
          </div>
          <div class="swipe-item">
            <button type="button">
              <i class="fas fa-times"></i>
            </button>
            <span>Only <b>651 Byte JS</b> needed.</span>
            <button type="button">
              <i class="fas fa-check"></i>
            </button>
          </div>
          <div class="reveal-right">
            <i class="fas fa-check"></i>
          </div>
        </div>
      </li>
    </ul>
  </div>

  </div>
</body>

</html>
<!-- partial -->
  <script type="module" src="./script.js"></script>

</body>
</html>
